In [1]:
import pandas as pd

In [5]:
writer = pd.ExcelWriter('F:\\VS Code\\NLP Lab\\lab1.xlsx', engine='xlsxwriter')
writer.close()

In [8]:
df = pd.DataFrame({'Name': ['A', 'B', 'C', 'D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T'],
                   'Age': [10, 20, 30, 50,10, 30, 30, 50,10, 10, 30, 50,10, 50, 30, 50,22,34,56,27],
                   'Id': [1, 2, 3, 4,5, 6, 7, 8,9, 10, 11, 12,13, 14, 15, 16,17,18,19,20],
                   'Salary':[1000, 2000, 3000, 4000,5000, 6000, 7000, 8000,9000, 10000, 11000, 12000,13000, 14000, 15000, 16000,17000,18000,19000,20000],
                   'Dept_name':['finance','hr','tech','design','pr','finance','hr','tech','design','pr','finance','hr','tech','design','pr','finance','hr','tech','design','pr']
                   })
writer = pd.ExcelWriter('F:\\VS Code\\NLP Lab\\lab1.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1', index=False)
writer.close()

In [9]:
df.head()

  Name  Age  Id  Salary Dept_name
0    A   10   1    1000   finance
1    B   20   2    2000        hr
2    C   30   3    3000      tech
3    D   50   4    4000    design
4    E   10   5    5000        pr

In [10]:
average_salary = df["Salary"].mean()

In [11]:
average_salary

10500.0