POS tagging using spacy library

In [28]:
import pandas as pd
df = pd.read_csv(r'F:\VS Code\NLP Lab\uk_economy.csv')
df.head(5)

,Date,User,Number of likes,Tweeted from,Tweets
0,2023-01-24 09:09:13+00:00,guest_graham,0,Twitter for Android,This is a massive example of how being part of...
1,2023-01-24 09:05:59+00:00,ZakWillow64,0,Twitter Web App,@BILDERBERG_GP Brexit has fell apart the torie...
2,2023-01-24 09:05:01+00:00,badJournalisme,0,Twitter Web App,@DmitryOpines @Mark_LawPanel @AlbertoNardelli ...
3,2023-01-24 09:04:41+00:00,eberlmat,0,Twitter Web App,Given the disastrous state of the UK economy @...
4,2023-01-24 09:00:53+00:00,gigtogiguk,0,Adobe Express,New growth figures are a positive sign for the...

In [29]:
df=df.drop(columns=["Date", "User","Number of likes","Tweeted from"])

In [30]:
df.head(5)

                                              Tweets
0  This is a massive example of how being part of...
1  @BILDERBERG_GP Brexit has fell apart the torie...
2  @DmitryOpines @Mark_LawPanel @AlbertoNardelli ...
3  Given the disastrous state of the UK economy @...
4  New growth figures are a positive sign for the...

In [31]:
import spacy

nlp = spacy.load('en_core_web_sm')

In [32]:
def pos_tag(sentence):
    doc = nlp(sentence)
    pos_tags = [(token.text, token.pos_) for token in doc]
    return pos_tags

df['pos_tags'] = df['Tweets'].apply(pos_tag)

In [33]:
df['pos_tags'].head(5)

0    [(This, PRON), (is, AUX), (a, DET), (massive, ...
1    [(@BILDERBERG_GP, X), (Brexit, PROPN), (has, A...
2    [(@DmitryOpines, VERB), (@Mark_LawPanel, X), (...
3    [(Given, VERB), (the, DET), (disastrous, ADJ),...
4    [(New, ADJ), (growth, NOUN), (figures, NOUN), ...
Name: pos_tags, dtype: object